body {
    font-family: helvetica;
    font-weight: 100;
}

.d3-tip {
    font-size: 12px;
}

path {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
}
.slider-container {
    width: max-content;
    position: relative;
}

.slider-label {
    position: absolute;
    bottom: -10px;
    font-size: 14px;
}

.slider-min {
    left: 0;
}

.slider-max {
    right: 0;
}

.slider {
    width: -webkit-fill-available;
}

.select_artists{
    width: 200px
}

.top-link {
    stroke: rgb(51, 0, 255);
    /* add any other styles you want to apply to top links */
 }
 
 .default-link {
    stroke: black;
    /* add any other styles you want to apply to default links */
 }